@model IEnumerable<Test.Models.Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Categories List";
}

<p>All categories</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
        </tr>
    }

</table>

<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Create">Create New</a>
</p>