@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<p>1. @await Component.InvokeAsync("Timer")</p>

<vc:timer></vc:timer>*@

<p>2. asp-host and asp-protocol</p>

<a asp-host="youtube.com" asp-protocol="https">Youtube</a>